@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gasoek+One&family=Poor+Story&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    color: #202020;
}

header {
    width: 100%;
    height: 123px;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* nav_bar */
.top_bar {
    text-align: right;   
    padding-top: 7px;
    padding-left: 0;
    margin: 0;
}

.top_bar li {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 300;
    color: #8b8b8b;
    list-style: none;
}

.top_bar li a {
    color: inherit;
    text-decoration: none;
}

.top_bar li a:first-child::after {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 14px;
    vertical-align: middle;
    background-color: #e0e0e0;
    content: '';
}

.top_bar .sns_f,
.top_bar .sns_i {
    margin: 0 3px;
    font-size: 0;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.top_bar .sns_f::before{
    content: url(./img/topbar1.jpg);
    text-align: center;
    vertical-align: middle;
}

.top_bar .sns_i::before {
    content: url(./img/topbar2.jpg);
    text-align: center;
    vertical-align: middle;
}

.nav_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-top: -20px;
}

.nav_wrap .logo {
    display: inline-block;
    width: 194px;
}

.nav_wrap ul {
    list-style: none;
    margin:  0 -39px;
}

.nav_wrap ul li {
    display: inline-block;
    font-size: 0.937rem;
    padding: 0 39px;
}

.nav_wrap ul li a{
    text-decoration: none;
    color: #202020;
}

/* 메인 콘텐츠 */
.content {
    padding-top: 123px;
    border: 1px solid red;
}

.main_visual {
    text-align: center;
}

.main_visual img {
    max-width: 100%;
}

.main_sec01 {
    overflow: hidden;
}

.main_sec01 .left_wrap {
    background-image: url(./img/main_sec1.jpg);
    background-size: cover;
    background-position: 60%;
    float: left;
    width: 50%;
    height: 320px;
    position: relative
}

.main_sec01 .left_wrap a {
    width: 100%;
    height: 100%;
    display: block;
}

.main_sec01 .left_wrap dl {
    width: 600px;
    margin-left: 80px
}

.main_sec01 .left_wrap dl dt {
    font-size: 50px;
    width: 100%;
    display: inline-block;
    /* font-weight: 700; */
    color: #071f60;
    font-family: 'Gasoek One', sans-serif;
}

.main_sec01 .left_wrap dl dd {
    display: inline-block;
    margin: 10px 0 0;
    font-weight: 500;
    line-height: 1.4em;
    text-decoration: none;
    color: #202020;
}

.main_sec01 .left_wrap .view_btn {
    margin-left: 80px;
    position: absolute;
    bottom: 40px;
    width: 50px;
    height: 50px;
    background: url(./img/view_icon.png) no-repeat center #fff;
    border-radius: 100%;
}

.main_sec01 .right_wrap {
    width: 50%;
    height: 320px;
    float: right;
    position: relative;
    background-image: url(./img/main_intro_bn.jpg);
    background-repeat: no-repeat;
    background-color: #253F85;
    background-size: 301px;
    background-position: calc(100% - 60px) center;
}

.main_sec01 .right_wrap a {
    width: 100%;
    height: 100%;
    display: block;
}

.main_sec01 .right_wrap dl {
    width: 600px;
    margin-left: 80px;
}

.main_sec01 .right_wrap dl dt {
    font-size: 50px;
    width: 100%;
    display: inline-block;
    /* font-weight: 700; */
    font-weight: 100;
    color: white;
    font-family: 'Gasoek One', sans-serif;
}

.main_sec01 .right_wrap dl dd {
    display: inline-block;
    margin: 10px 0 0;
    font-weight: 500;
    line-height: 1.4em;
    text-decoration: none;
    color: white;
}

.main_sec01 .right_wrap .view_btn {
    margin-left: 80px;
    bottom: 40px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(./img/view_icon.png) no-repeat center #fff;
    border-radius: 100%;
}

.main_sec02 a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}

.main_sec02 dl {
    width: 1200px;
    
}
.main_sec02 dl dt {
    font-size: 50px;
    width: 100%;
    display: inline-block;
    font-family: 'Gasoek One', sans-serif;
    color: brown;
}